.article-wrapper {
    display: flex;
    flex-grow: 0;
    flex-direction: row;

    height: 100%;
    width: 100%;

    gap: 2%;
}

.text-wrapper {
    display: flex;
    flex-grow: 0;
    height: 100%;
    width: 70%;
    background-color: var(--page-color);
    color: black;
}

.description-wrapper {
    display: flex;
    flex-grow: 0;
    height: 100%;
    width: 30%;
    flex-direction: column;
    gap: 5%;

    background-color: var(--primary-light);
}
