.articles-scroll-wrapper {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    /*margin-top: 2%;*/
    /*margin-bottom: 2%;*/

    overflow: scroll;
    &::-webkit-scrollbar {
        width: 2%;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    & {
        scrollbar-face-color: transparent;
    }

}