.about-me-wrapper {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 5%;

    height: 85%;
    width: 100%;

    background-color: var(--primary-light);
}

.wrapper {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;

    height: 100%;
    width: 100%;

    /*background-color: blue;*/
    background-color: transparent;
}

.about-me-panel-wrapper {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10%;

    height: 10%;
    width: 30%;

    background-color: var(--primary-light);
}

.about-me-button {
    display: flex;
    flex-grow: 0;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 80%;

    background-color: var(--secondary-main);
    /*background: url("../../img/camera.jpg");*/
}

/*.about-me-button-img {*/
/*    display: flex;*/
/*    flex-grow: 0;*/
/*    !*flex-direction: row;*!*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    width: 100%;*/
/*    height: 100%;*/
/*    background: url("../../img/camera.jpg");*/
/*    !*background-color: transparent;*!*/
/*}*/

/*!*. {}*!*/

.about-me-card-wrapper {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 2%;

    height: 10%;
    width: 100%;

    background-color: var(--primary-light);
}

.about-me-img-wrapper {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60%;

    /*background-color: blueviolet;*/
    background-color: transparent;
}

.about-me-summary-wrapper {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40%;

    /*background-color: aquamarine;*/
    background-color: transparent;
}

.about-me-resume-wrapper {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    /*background-color: bisque;*/
    background-color: transparent;
}

.full-display {
    height: 100%;
}

